<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teammates">

    <uses-sdk tools:overrideLibrary="scut.carson_ho.searchview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 为解决添加的库兼容的最低版本与项目设置的版本不同 -->

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataActivities.DataSelfActivity" />
        <activity android:name=".Compete.CompetitionDetailActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".search_part.SearchEmployerActivity" />
        <activity android:name=".search_part.SearchEmployeeActivity" />
        <activity android:name=".HomeSetting.HomeSearchActivity" />
        <activity android:name=".Compete.AddFindInfo"></activity>
    </application>

</manifest>